<p align="center">
  <img src="https://raw.githubusercontent.com/srcery-colors/srcery-assets/master/src/logo_border.svg">
</p>

<h2 align="center">Terminal configurations</h2>

<p align="center">
Pregenerated configurations using the Srcery
<a href="https://github.com/srcery-colors/srcery-palette">palette.</a>
Pick and choose for your favorite terminal emulator
</p>

## Palette

| IMG  | NAME | INDEX | HEX | RGB  | HSL |
|------|------|-------|-----|------|-----|
{{#each this}}
| ![{{ @key }}](https://place-hold.it/24x24/{{sub this.hex }}?text=+) | {{@key}}  | {{maybe this.index "n/a" }} | {{ this.hex }} | {{join this.rgb ", " }} | {{join this.hsl ", " }} |
{{/each}}

## Development
### Requirements
[Node](https://nodejs.org/en/) and [npm](https://www.npmjs.com/) is required to build the terminal configurations.

### Changing readme

`README.md` along with the configs are generated, edit `templates/README.hbs`
and run `make README.md` to update docs.

### Generating configurations
To get a list of available configurations call `make list`. By editing the
relevant template for any given configuration (located in `./templates`) and
calling `make` will generate a new configuration.

To make a single config, say `xresources` call make like this:

``` shell
make xresources/srcery.xresources
```
